*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    margin:0;
    font-family: POLYA Regular;
    color: silver;
    font-size: 18px;
}

#Header{

    background-image:url(photo-of-water-drops-on-glass-3178798.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     height:100vh ; /*Yang Buat dia menjadi landing page Full Screen */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-bottom: 10%;

     
}

/* #Ps{ 

    padding-top: 200px;
} Bisa Pakai Ini Juga Tapi lebih gampang pakai flex*/

nav{

    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    transition: .5s;
    
  
}

nav ul li{

    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
     cursor: pointer;  /*mouse berubah jadi pointer form*/
     border-radius: 10px;
     transition: .7s;
     

    
}
nav ul li:hover{
background: orange;
}

h1:hover{
    color: orange;

}

#DP{

    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}



